<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">

  <xacro:macro name="drone_macro" params="">

    <link name="drone_base_link"/>

<link name="drone_frame">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <mass value="1.503"/>
        <inertia
          ixx="0.02"
          ixy="0.0"
          ixz="0.0"
          iyy="0.02" 
          iyz="0.0"
          izz="0.04"/>
      </inertial>
      
      <collision name="drone_frame_collision">
        <origin xyz="-0.00424 0.00014 -0.00595" rpy="0 0 0"/>
        <geometry>
          <box size="0.316618 0.330564 0.089582"/>
        </geometry>
      </collision>

      <visual name="drone_frame_visual">
        <geometry>
          <mesh filename="package://swarm/meshes/hull.dae"/>
        </geometry>
        <material name="black">
          <color rgba="1 0.35 0.12 1"/>
        </material>
      </visual>
    </link>

    <joint name="drone_base_link_joint" type="fixed">
      <parent link="drone_base_link"/>
      <child link="drone_frame"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
  
</robot>