<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Ground_bot">
  
  <xacro:arg name="frame_prefix" default=""/>

  <xacro:include filename="$(find swarm)/model/robot.gazebo"/>
  <xacro:include filename="$(find swarm)/model/ground_bot.xacro"/>
  <xacro:include filename="$(find swarm)/model/wheels.xacro"/>
  <xacro:include filename="$(find swarm)/model/lidar.xacro"/>
  <xacro:include filename="$(find swarm)/model/cameras.xacro"/>

  <xacro:ground_bot suffix="$(arg frame_prefix)"/>
  
  <xacro:wheels suffix="$(arg frame_prefix)"/>
  
  <xacro:lidar 
    name="lidar" 
    parent="$(arg frame_prefix)ground_bot_frame" 
    xyz="0.424 0 0.327" 
    rpy="0 0 0" 
    suffix="$(arg frame_prefix)"/>

</robot>