<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">
  
  <xacro:include filename="$(find swarm)/model/robot.gazebo"/>
  <xacro:include filename="$(find swarm)/model/drone.xacro"/>
  <xacro:include filename="$(find swarm)/model/propellers.xacro"/>

  <xacro:drone_macro />
  <xacro:propellers/>

  <xacro:robot_gazebo suffix=""/>

</robot>